.navContainer {
  /* background-color: blueviolet; */
}

.navBar {
  /* background-color: cornflowerblue; */
}

.topBody {
  background-color: #ffffff;
  /* background-color: rgb(249, 204, 91); */
  /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); */
}

.logoBlock {
  /* background-color: #9cdbfa; */
  padding: 1.5rem 0rem;
}

.logoBlock figure img {
  /* background-color: #ae9dfd; */
  height: 5rem;
  width: auto;
  margin-left: 1.5rem;
}

.navBlock {
  background-color: rgb(255, 174, 0);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: center;
}

.navBlock #iconToggle {
  cursor: pointer;
  /* for understading display: none; is given at the end of CSS*/
  /* display: none; */
}

.navBlock .hamburgerIcon {
  /* background-color: crimson; */
  color: #002239;
  font-size: 2rem;
  border: 1.5px solid #002239; 
  padding: 0.25rem 0.75rem 0.1rem;  
  border-radius: 0.25rem;
  /* for understading display: none; is given at the end of CSS*/
  /* display: none; */
}

/* Step5: column2 */
.navLinks {
  /* background-color: #f7bc0a; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Step6: contentContainer */
.navLinks li {
  /* background-color: #4bb9f8; */
  list-style-type: none;
}

.navLinks li a {
  /* background-color: #15a9f3; */
  /* font-family: "Inter", sans-serif;; */
  text-decoration: none;
  font-size: 1.6rem;
  color: #002239;
  font-weight: 400;
}

.navBlock #iconToggle {
  display: none;
}

.navBlock .hamburgerIcon {
  display: none;
}

/* Small devices (landscape phones, upto 576px and below) */
@media (width <=576px) {
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .topBody {
    /* padding: 0rem 0.75rem; */
  }

  .navBlock .hamburgerIcon {
    display: block;
    /* Show the hamburger icon on small devices */
    position: absolute;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
  }

  .navLinks {
    flex-direction: column;
    display: none;
  }

  .navLinks li {
    background-color: #37c2f1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
  }

  .navLinks li:last-child {
    border-bottom: none;
    /* Remove the border from the last child */
  }

  .navLinks li a {
    padding: 0.75rem 0rem;
  }

  /* equal to display: Block (show or Hide) */
  #iconToggle:checked ~ .navLinks {
    display: flex;
  }

  /* Add hover effect */
  #iconToggle:checked ~ .navLinks li:hover {
    background-color: #14476c;
    /* Change background color on hover */
    cursor: pointer;
    /* Change cursor to pointer */
  }

  /* Add hover effect */
  #iconToggle:checked ~ .navLinks li:hover a {
    color: #ffffff;
    font-weight: 500;
  }
}
